<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s12 l9 offset-l3 xl10 offset-xl2">
        <h1 class="materialize-pink-text">About angular2-materialize-v1</h1>
      </div>
    </div>
  </div>
</div>
<div class="divider"></div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s12 l9 offset-l3 xl10 offset-xl2">
        <p>Angular 2 support for Materialize CSS v1.0+ framework.</p>
        <p>This project has 0 dependencies and requires no dependencies to be installed on your production server.
          Forget the need to install hammerjs or jquery. It is made with vanilla TypeScript and vanilla Angular.</p>
      </div>
    </div>
  </div>
</div>
