<app-nav-title [navTitle]="'Donate'"></app-nav-title>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s12 l9 offset-l3 xl10 offset-xl2">

        <div class="row">
          <div class="col s10 offset-s1 m8 offset-m2 l6 offset-l3">
            <div class="card">
              <div class="card-content center">
                <img class="circle z-depth-2" src="/assets/images/profilepic.png" alt="paypal picture">
                <p>I hope this project helps you get materializecss up on your website. If you feel like this project
                  helped you out and you want to support the developers, you can help by backing us on PayPal. Any
                  amount would help support and continue development on this project and is greatly appreciated.</p>
                <br>
                <a href="https://paypal.me/tuffant21" target="_blank" class="center">paypal.me/tuffant21</a>
              </div>
              <div class="card-action right-align">
                <a class="btn blue" href="https://paypal.me/tuffant21" target="_blank">donate</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
